{
  "printWidth": 60,
  "proseWrap": "preserve",
  "semi": true,
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSpacing": true,
  "endOfLine": "lf"
}
